:root{
  box-sizing: border-box;
}
#mainContainer{
  display: flex;
  height: 400px;
  background-color: peachpuff;
}

.disc{
  height:75px;
  border: 1px solid #333;
  border-radius: 10px;
}
.tower{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-basis:33%;
  border: 1px dotted red;
} 
h2{
  color:blue;
}

#start{
  font-size: 40px;
  width: 40px;
  
}
#buffer{
  font-size: 40px;
}
#end{
  font-size: 40px;
}
#d1 {
  width: 100px;
  background-color: #dd4444;
}
#d2 {
  width: 130px;
  background-color: #34d426;
}#d3 {
  width: 160px;
  background-color: #416fec;
}#d4 {
  width: 190px;
  background-color: #a005c7;
}

.selected{
  position: absolute;
  top:105px;
}

.directions{
  background-color: lightblue;
}